#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    overflow-y: auto;
    z-index: 10000;
    background-color: var(--white);
}

#main {
    min-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
    background-color: var(--white);
}

#footer {
    text-align: center;
    background-color: rgb(255, 254, 254);
    padding: 20px 20px 20px 260px;
}